* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 9, 49);
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  position: absolute;
  top: 200px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 245, 245);
  text-shadow: 2px 2px 5px black;
}

.container {
  display: flex;
  gap: 30px;
  /* alligns the text into the left of the box */
  text-align: left; 
}

.card {
  background-color: rgb(233, 232, 239);
  width: 250px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 10px 30px rgba(240, 241, 242, 0.3);
}

.card-header {
  padding: 15px;
  color: rgb(31, 15, 97);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.fruits {
  background: linear-gradient(to right, #063039, #d4dadf);
}

.vegetables {
  background: linear-gradient(to right, #300f4d, #f6f4f9);
}

.groceries {
  background: linear-gradient(to right, #551322, #ece6e5);
}

ol, ul {
  list-style-position: inside;
  padding: 10px 20px;
}

ol li, ul li {
  margin: 12px 0;
  font-weight: bold;
  font-size: 18px;
}

ul.square {
  list-style-type: square;
}

ul.disc {
  list-style-type: disc;
}

.card:hover {
  transform: translateY(-6px) scale(1.04);
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.888), 0 6px 16px rgba(0,0,0,0.16);
  cursor: pointer;
  transition: 0.5s;

}